{{ define "main" }}
  <h1>Arquivos diários: {{ time.Format "02 de January 2006" .Date }}</h1>

  {{ $year := .Date.Format "2006-01-02" }}
  <ul class='articles detailed'>
  {{ range (where (where site.Pages "Section" "artigos") "Kind" "page") }}
    {{ if (eq (.Date.Format "2006-01-02") $year) }}
    <li>
      {{ $cover := (index (.Resources.ByType "image") 0) }}
      {{ if $cover }}
      <img src="{{ $cover.Permalink }}" alt="{{ .Params.coverdescription }}" title="{{ .Params.coverdescription }}" />
      {{ end }}

      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

      <div class='summary'>
        {{ .Summary }}
      </div>

      <p class='readmore'><a href="{{ .Permalink }}">Ler artigo completo →</a></p>

      {{ partial "byline.html" . }}
    </li>
    {{ end }}
  {{ end }}
  </ul>
{{ end }}
