<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <link href="/styles.css" rel="stylesheet" />
    <link rel="stylesheet" id="leaf-google-fonts-css" href="https://fonts.googleapis.com/css?family=Oswald:400|PT+Sans:400,700,400italic" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="pt_PT" />
    {{ block "opengraph" . }}
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ .Site.Title }}" />
      <meta property="og:description" content="Plataforma dedicada à divulgação de informação sobre DRM em Portugal" />
      <meta property="og:image" content="{{ absURL "/img/og.png" }}" />
      <meta property="og:image:width"  content="1920" />
      <meta property="og:image:height"  content="1024" />

      <meta name="twitter:description" content="Plataforma dedicada à divulgação de informação sobre DRM em Portugal" />
      <meta name="twitter:title" content="{{ .Site.Title }}" />
      <meta name="twitter:image" content="{{ absURL "/img/og.png" }}" />
      <meta name="twitter:card" content="summary_large_image" />
    {{ end }}
  </head>
  <body>
    <header>
      <a href="/"><img src="/img/logo.png" alt="DRM PT" /></a>
    </header>

    <nav>
      <a href="/">Início</a>
      <a href="/o-que-e-drm/">O que é DRM</a>
      <a href="/como-descobrir-drm/">Como descobrir DRM</a>
      <a href="/combater-o-drm/">Combater o DRM</a>
      <a href="/faq/">Perguntas Frequentes</a>
      <a href="/imprensa/">Imprensa</a>
      <a href="/contactos/">Contactos</a>
    </nav>

    <main>
    {{ block "main" . }}
    {{ end }}
    </main>

    <aside>
      <form class='search' action="/search" method="GET">
        <input type="search" name="s" placeholder="Termo de pesquisa..." />
        <button class="padding: 0.5rem" type='submit'><img src="/img/search.svg" alt="Pesquisar" /></button>
      </form>

      {{ $articles := (where .Site.RegularPages "Section" "artigos") }}
      <section aria-labelled-by="artigos-recentes">
        <h2 id="artigos-recentes"><span>Artigos recentes</span></h2>

        {{ $recent := (first 5 (sort $articles "Date" "desc")) }}
        <ul>
          {{ range $recent }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>

      </section>
      <section aria-labelled-by="links">
        <h2 id="links"><span>Links</span></h2>

        <ul>
          <li><a href="https://ansol.org/">ANSOL - Associação Nacional para o Software Livre</a></li>
          <li><a href="https://direitosdigitais.pt/">D3: Defesa dos Direitos Digitais</a></li>
          <li><a href="https://defectivebydesign.org/">Defective By Design</a></li>
        </ul>
      </section>
      <section aria-labelled-by="arquivo">
        <h2 id="arquivo"><span>Arquivo</span></h2>

        <ul>
          {{ range ($articles.GroupByDate "2006-01") }}
            <li><a href="/{{ time.Format "2006/01/" (index .Pages 0).Date }}">{{ time.Format "January 2006" (index .Pages 0).Date }}</a></li>
          {{ end }}
        </ul>
      </section>
      <section aria-labelled-by="categorias">
        <h2 id="categorias"><span>Categorias</span></h2>

        <ul>
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
              <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </section>
      <section aria-labelled-by="meta">
        <h2 id="meta"><span>Meta</span></h2>

        <ul>
          <li><a href="">Feed de notícias</a></li>
          <li><a href="https://git.ansol.org/ansol/drm-pt.info">Código fonte</a></li>
          <li><a href="https://gohugo.io">Hugo - Ferramenta de geração de websites</a></li>
        </ul>
      </section>
    </aside>

    <footer>
      CC-BY 2023 DRM Portugal
    </footer>
  </body>
</html>
