{{ define "main" }}
  <h1>Arquivos da categoria: {{ .Name }}</h1>
  <ul class='articles detailed'>
  {{ range .Pages }}
    <li>
      {{ $cover := (index (.Resources.ByType "image") 0) }}
      {{ if $cover }}
      <img src="{{ $cover.Permalink }}" alt="{{ .Params.coverdescription }}" title="{{ .Params.coverdescription }}" />
      {{ end }}

      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

      <div class='summary'>
        {{ .Summary }}
      </div>

      <p class='readmore'><a href="{{ .Permalink }}">Ler artigo completo →</a></p>

      {{ partial "byline.html" . }}
    </li>
  {{ end }}
  </ul>
{{ end }}
