  <p class='byline'>
    Publicado por {{ .Params.author }}
    //
    {{ if .Params.categories }}
      {{ range $index, $category := .GetTerms "categories" }}
      <a href="{{ $category.Permalink }}">{{ $category.Title }}</a>{{ if ne (add $index 1) (len $.Params.categories) }}, {{ end }}
      {{ end }}
    {{ else }}
      Sem categoria
    {{ end }}
    //
    <a href="{{ .Permalink }}">{{ time.Format "02 de January, 2006" .Date }}</a>
  </p>
