html { padding: 0; margin: 0; }
body {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-width: 980px;
  margin: 1rem auto;
  display: grid;
  box-shadow: 0 0px 8px rgba(150, 150, 150, 0.4);
  padding: 1rem;
  color: #444;

  grid-template-areas: "header header" "navigation navigation" "main sidebar" "footer footer";
  grid-template-columns: 65% 30%;
  justify-content: space-between;
}

header { grid-area: header; }
nav { grid-area: navigation; }
main { grid-area: main; }
aside { grid-area: sidebar; }
footer { grid-area: footer; }

a, a:visited { color: #87211d; }
a:hover { color: #C4302B; }

h1, h2 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 { font-size: 24px; }
aside h2 {
  text-transform: uppercase;
  font-size: 16px;
}


aside { border-left: 1px solid #ccc; padding-left: 1rem; }

aside .search {
  padding: 2rem 0;
  display: flex;
  justify-content: end;
}

aside .search input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

aside .search button {
  border: 1px solid #87211d;
  padding: 0 0.75rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #C4302B;
  cursor: pointer;
}
aside .search button img {
  display: block;
  height: 15px;
}


aside section { margin-bottom: 2rem; }

aside ul { list-style-type: none; padding: 0; }
aside ul li { margin-bottom: 0.5rem; }

figure.cover { text-align: center; }
figure.cover img { max-width: auto; display: block; margin: 0px auto; }

nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

nav > * {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.75rem 0;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
}
nav > *:nth-child(n + 2) {
  border-left: 1px solid #ccc;
}

main img {
  max-width: 100%;
  border: 1px solid #E1E1E1;
  background-color: #f3f3f3;
  padding: 4px;
}

footer {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

blockquote {
  clear: both;
}

hr {
  clear: both;
}

.articles { list-style-type: none; padding: 0; border-top: 1px solid #ccc; padding-top: 3rem; }
.articles h2 { margin-top: 0; font-size: 22px; overflow: auto; }
.articles.detailed li:nth-child(n + 2)::before {
  content: "";
  display: block;
  height: 22px;
  width: 100%;
  background-image: url(/widget-divider.png);
}

.articles .byline { clear: both; padding-top: 1rem; }
.articles:not(.detailed) .byline { display: none; }
.articles:not(.detailed) { border-top: none; padding-top: 0.5rem; }

.articles .summary { overflow: auto; }
.articles .readmore { text-align: right; }
.articles img { float: left; max-width: 170px; margin-right: 1rem; }

aside h2, .with-divider { background: url(/widget-divider.png); background-repeat: repeat-x; background-position: center; }
aside h2 span, .with-divider span { background-color: white; padding-right: 0.5rem; }

.carrousel {
  position: relative;
}
.carrousel ul {
  list-style-type: none;
  padding: 0;
}

.carrousel li {
  display: block;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.carrousel img {
  display: block;
  position: absolute;
  max-width: 100%;
  z-index: -1;
  top: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.carrousel h2 {
  color: white;
  background-color: #C4302B;
  display: inline-block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  margin: 0 1rem;
  padding: 0.25rem 1rem;
  font-size: 16px;
}

.carrousel .summary {
  color: white;
  background-color: rgb(0,0,0,0.75);
  margin: 1rem;
  padding: 0.5rem;
}

.carrousel .nav {
  display: block;
  position: absolute;
  bottom: calc(50% - 27px / 2);
  width: 27px;
  height: 27px;
  z-index: 4;
  cursor: pointer;
}

.carrousel .nav.prev {
  background-image: url(/img/carrousel-nav.png);
  left: 1rem;
}

.carrousel .nav.next {
  background-image: url(/img/carrousel-nav.png);
  background-position: 27px 0;
  right: 1rem;
}

.carrousel .carrousel-control { display: none; }
.carrousel .item { display: none; }
.carrousel #v0:checked ~ ul .item0,
.carrousel #v1:checked ~ ul .item1,
.carrousel #v2:checked ~ ul .item2,
.carrousel #v3:checked ~ ul .item3,
.carrousel #v4:checked ~ ul .item4 { display: flex; }

.carrousel-controls {
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  z-index: 2;
}

.carrousel-visible-control {
  display: block;
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.9);
}

.carrousel #v0:checked ~ .carrousel-controls .carrousel-visible-control[for="v0"],
.carrousel #v1:checked ~ .carrousel-controls .carrousel-visible-control[for="v1"],
.carrousel #v2:checked ~ .carrousel-controls .carrousel-visible-control[for="v2"],
.carrousel #v3:checked ~ .carrousel-controls .carrousel-visible-control[for="v3"],
.carrousel #v4:checked ~ .carrousel-controls .carrousel-visible-control[for="v4"],
.carrousel #v5:checked ~ .carrousel-controls .carrousel-visible-control[for="v5"]
{ background-color: #C4302B !important; }

@media (max-width: 768px) {
  body {
    grid-template-areas: "header" "navigation" "main" "sidebar" "footer";
    grid-template-columns: 1fr;
  }
  aside { border-left: none; padding-left: 0; }

  .articles img { max-width: 100px; }
}
